src/resources/schemas/_CadastralEngineer_v08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--Общие простые типы данных-->
	<xs:include schemaLocation="P_AllSimpleType_v03.xsd"/>
	<!--КАДАСТРОВЫЙ ИНЖЕНЕР-->
	<!--ВЕРСИЯ 8:-->
	<xs:complexType name="tEngineer">
		<xs:annotation>
			<xs:documentation>Кадастровый инженер</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tCadastralEngineer">
				<xs:sequence>
					<xs:element name="AgreementCadWork" type="tDocumentCadWork">
						<xs:annotation>
							<xs:documentation>Наименование, номер и дата документа, на основании которого выполняются кадастровые работы</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tCadastralEngineer">
		<xs:annotation>
			<xs:documentation>Сведения о кадастровом инженере</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="PhysicalPersonQualifiedName-ModelGroup"/>
			<xs:element name="OGRNIP" type="OGRNSoleProprietorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРНИП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SNILS" type="SNILSType">
				<xs:annotation>
					<xs:documentation>Страховой номер индивидуального лицевого счета (СНИЛС)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CadastralEngineerRegistryNumber" type="sNe50">
				<xs:annotation>
					<xs:documentation>Уникальный реестрвый номер в реестре саморегулируемой организации кадастровых инженеров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateEntering" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата внесения сведений о физическом лице в реестр саморегулируемой организации кадастровых инженеров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Telephone" type="sNe50">
				<xs:annotation>
					<xs:documentation>Контактный телефон</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="sNe4000">
				<xs:annotation>
					<xs:documentation>Почтовый адрес</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Email" type="EmailAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес электронной почты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organization" type="tOrganization" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Юридическое лицо, если кадастровый инженер является работником юридического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SelfRegulatoryOrganization" type="sNameNew255">
				<xs:annotation>
					<xs:documentation>Наименование саморегулируемой организации кадастровых инженеров, членом которой является кадастровый инженер</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tOrganization">
		<xs:annotation>
			<xs:documentation>Юридическое лицо, если кадастровый инженер является работником юридического лица</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="sNe2000">
				<xs:annotation>
					<xs:documentation>Наименование юридического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressOrganization" type="sNe4000">
				<xs:annotation>
					<xs:documentation>Адрес местонахождения юридического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tDocumentCadWork">
		<xs:annotation>
			<xs:documentation>Наименование, номер и дата документа, на основании которого выполняются кадастровые работы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="sNe500">
				<xs:annotation>
					<xs:documentation>Наименование документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberAgreement" type="sNe45">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateAgreement" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>