src/resources/schemas/_GeneralCadastralWorks_v06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--Подсхемы:-->
	<xs:include schemaLocation="_Document_v10.xsd"/>
	<xs:include schemaLocation="_AddressInp_v12.xsd"/>
	<xs:include schemaLocation="_CadastralEngineer_v08.xsd"/>
	<xs:include schemaLocation="_DeclareBase_v01.xsd"/>
	<!--ВЕРСИЯ 06:-->
	<!--Подсхема ОБЩИЕ СВЕДЕНИЯ о кадастровых работах-->
	<xs:complexType name="tGeneralCadastralWorks">
		<xs:annotation>
			<xs:documentation>Общие сведения о кадастровых работах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Contractor" type="tEngineer">
				<xs:annotation>
					<xs:documentation>Сведения о кадастровом инженере</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reason" type="sNe4000">
				<xs:annotation>
					<xs:documentation>Вид кадастровых работ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Clients">
				<xs:annotation>
					<xs:documentation>Сведения о заказчиках кадастровых работ</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Client" type="tClientIdentify" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Сведения о заказчике кадастровых работ</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DateCadastral" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>Дата завершения кадастровых работ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tClientIdentify">
		<xs:annotation>
			<xs:documentation>Сведения о заказчике кадастровых работ</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Person" type="tPersonIdentify">
				<xs:annotation>
					<xs:documentation>Физическое лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organization" type="tIdentify">
				<xs:annotation>
					<xs:documentation>Юридическое лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Governance" type="tIdentify">
				<xs:annotation>
					<xs:documentation>Орган государственной власти, орган местного самоуправления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForeignOrganization" type="tIdentifyForeignOrg">
				<xs:annotation>
					<xs:documentation>Иностранное юридическое лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="tGeneralCadastralWorksFull">
		<xs:annotation>
			<xs:documentation>Общие сведения о кадастровых работах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Contractor" type="tEngineer">
				<xs:annotation>
					<xs:documentation>Сведения о кадастровом инженере</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reason" type="sNe4000">
				<xs:annotation>
					<xs:documentation>Вид кадастровых работ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Clients">
				<xs:annotation>
					<xs:documentation>Сведения о заказчиках кадастровых работ</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Client" type="tClientIdentifyFullOfficial" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Сведения о заказчике кадастровых работ</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="DateCadastral" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>Дата завершения кадастровых работ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tClientIdentifyFull">
		<xs:annotation>
			<xs:documentation>Сведения о заказчике кадастровых работ</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Person" type="tPersonContact">
				<xs:annotation>
					<xs:documentation>Физическое лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organization" type="tIdentify">
				<xs:annotation>
					<xs:documentation>Юридическое лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Governance" type="tIdentify">
				<xs:annotation>
					<xs:documentation>Орган государственной власти, орган местного самоуправления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForeignOrganization" type="tIdentifyForeignOrgContact">
				<xs:annotation>
					<xs:documentation>Иностранное юридическое лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="tClientIdentifyFullOfficial">
		<xs:annotation>
			<xs:documentation>Сведения о заказчике кадастровых работ (в том числе должностном лице)</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Person" type="tPersonContactInf">
				<xs:annotation>
					<xs:documentation>Физическое лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organization" type="tIdentify">
				<xs:annotation>
					<xs:documentation>Юридическое лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Governance" type="tIdentify">
				<xs:annotation>
					<xs:documentation>Орган государственной власти, орган местного самоуправления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForeignOrganization" type="tIdentifyForeignOrgContact">
				<xs:annotation>
					<xs:documentation>Иностранное юридическое лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Official" type="sNameNew500">
				<xs:annotation>
					<xs:documentation>Должностное лицо органа государственной власти, органа местного самоуправления</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>